# Include CMake-related files
include CMakeLists.txt
include cmake/CPM.cmake
include libsegmenter/base/*.hpp
include libsegmenter/base/*.cpp
include libsegmenter/bindings/*.hpp
include libsegmenter/bindings/*.cpp

# Include headers and source files from the base and bindings directories
graft libsegmenter
graft libsegmenter/base
graft libsegmenter/bindings

# Optionally include other relevant files
include README.md
include pyproject.toml
include setup.py

